* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

#navbar {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 3rem;
  /* width: 15rem;
    height: 4rem; */
}
.btn-try {
  margin-right: 3rem;
  color: white;
  padding: 0.9rem 2rem;
  font-size: 1rem;
  background-color: #f028c1;
  border: 1px solid #f98ddf;
  border-radius: 5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

/* Build section */
.build-community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 2rem 15rem;
  margin-top: 2rem;
}
.h-primary {
  font-size: 2.3rem;
  font-weight: bolder;
  font-family: "IBM Plex Sans", sans-serif;
}
.build-para {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 8rem;
  /* font-weight: bold; */
  color: rgb(27, 27, 27);
}
.build-btn {
  padding: 1.2rem 3rem;
  color: white;
  background-color: #fa0cc2;
  border: 1px solid #ff2acd;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  box-shadow: 1px 4px 8px grey;
  cursor: pointer;
}
.build-btn:hover {
  transform: translateY(-0.9px);
}
.build-images {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.build-img {
  height: 30rem;
  width: 50rem;
}
.Community-User {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 2rem;
}
.icons-img {
  height: 2.5rem;
}

.user,
.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.comm-heading {
  font-size: 3rem;
}
.Community-User p {
  font-size: 1rem;
  color: gray;
}

/* section groww-together */
.Groww-together {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.groww,
.groww-1 {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  /* align-items: center; */
}
.groww-1 {
  /* padding: 2rem 6rem; */
}
.groww-img {
  width: 100%;
}
.heading-secondary {
  font-family: "IBM Plex Sans", sans-serif;
  /* font-weight: bolder; */
  font-size: 2.7rem;
}
.para-secondary {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
  color: rgb(68, 67, 67);
  padding: 1rem 0;
}
.ready {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}
.h-primary-1 {
  font-size: 3rem;
  font-family: "IBM Plex Sans", sans-serif;
}


footer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-content {
  display: flex;
  align-items: center;
}
.footer-content-text {
  display: flex;
  background-color: #00262d;
  height: 60vh;
  margin-top: -0.5rem;
}
.footer-img {
  width: 100vw;
}
.left {
  width: 50%;
  background-color: #00262d;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
  padding: 3rem 5rem;
}
.footer-heading {
  font-size: 5rem;
  margin-top: 1.2rem;
}
.footer-para {
  font-size: 1.2rem;
  color: whitesmoke;
}
.contact {
  margin-top: 2rem;
  display: flex;
  font-size: 1rem;
}
.icon{
    margin-right: .9rem;
    width: .6rem;
}

/* right section */
.right {
  background-color: #00262d;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 4rem 5rem;
  margin-top: 2.5rem;
}
.footer__head {
  font-size: 3rem;
  color: white;
}
.footer-para {
  margin-top: 0rem;
  font-size: 1rem;
}
.footer-para-1 {
  margin-top: .3rem;
  font-size: 1rem;
  color: white;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input {
  margin-top: 2rem;
  width: 20rem;
  height: 3rem;
  border-radius: 0.9rem;
}
input:focus {
  border: none;
}
.btn {
  /* width: 10rem; */
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #f98ddf;
  /* color: white; */
  border-radius: 1rem;
  border: 1px solid #f98ddf;
  font-weight: bold;
}
